.aksesuar-page{
    background: #8bc34a2b;

    .aksesuarner-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;

        .img{
            height: 310px;
            width: 320px;
            margin: 30px;
            box-shadow: 0px 0px 7px 2px #b7b5b5;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}