.tnain-dekorner{
    background: #8bc34a2b;
    height: calc(100vh - 145px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgba(99, 97, 97, 0.555);
}