@import "../../../global.scss";

.servicesContainer{
    display: flex;
    flex-direction: column;
    background: $ligth-background;

    .services-photos{

        .other-content{
            display: flex;
            justify-content: center;
            margin-top: 120px;
    
            .servicices-main-photo{
                width: 500px;
                margin: 5px;
    
                img{
                    width: 100%;
                }
            }
            .other-photos{
                display: flex;
                flex-direction: column;
        
                .services3,
                .services2{
                    width: 380px;
                    margin: 5px;
                }
        
                .services2 img,
                .services3 img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .main-container{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        margin-bottom: 100px;


        .services-description{
            width: 800px;
            font-size: 18px;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
    
            .services-title{
                font-size: 40px;
                display: flex;
                align-self: center;
            }

            .services-description-part div{
                margin-bottom: 15px;
            }
        }
    }
}


@media only screen and (max-width : 1600px){
    .servicesContainer{
        
    
        .services-photos{
    
            .other-content{

                .servicices-main-photo{
                    width: 360px;
                }
                .other-photos{
            
                    .services3,
                    .services2{
                        width: 274px;
                        margin: 4px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 800px){
    .servicesContainer{
        
    
        .services-photos{
    
            .other-content{

                .servicices-main-photo{
                    width: 250px;
                }
                .other-photos{
            
                    .services3,
                    .services2{
                        width: 189px;
                        margin: 3px;
                    }
                }
            }
        }
        .main-container{
            padding-top: 40px;
            .services-description{
                width: 80%;
                font-size: 17px;
        
                .services-title{
                    font-size: 25px;
                }
            }
        }
    }
}

@media only screen and (max-width : 500px){
    .servicesContainer{
    
        .services-photos{
    
            .other-content{

                .servicices-main-photo{
                    width: 150px;
                    margin: 2px;
                }
                .other-photos{
            
                    .services3,
                    .services2{
                        width: 110px;
                        margin: 2px;
                    }
                }
            }
        }
        .main-container{
            padding-top: 10px;
            .services-description{
                width: 80%;
                font-size: 15px;
        
                .services-title{
                    font-size: 18px;
                }
            }
        }
    }
}