.imgWrapper {
    z-index: 3;
    position: relative;

    img {
        max-height: calc(100vh - 160px);
        max-width: calc(100vw - 160px);
        height: auto !important;
        width: auto !important;
    }
}

.delete-icon{
    position: fixed;
    top: 100px;
    right: 200px;
    color: rgb(207, 206, 206);
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.container-image {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
