.catalog-manu{
    padding-top: 78px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #00000026;
    margin: 0 auto;
    background: #ebf5e0;

    .catalog-link{
        margin: 15px;
        padding: 7px 10px;
        border-radius: 20px;
        background: #6c6c6c;
        color: #fff;

        a{
            color: #ebf5e0;
            text-decoration: none;
        }

    }
}