.navbar{
    display: flex;
    height: 75px;
    width: 100%;
    background: #0202027a;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    // box-shadow: 0 0 15px 1px #e1c1af;

    .logo-section{
        color: #fff;
        margin-left: 30px;
        font-size: 25px;
    }

    .links-section{

        display: flex;

        a{
            color: #ffffff;
            font-size: 20px;
            text-decoration: none;
            margin: 26px;
            font-weight: 500;
            font-family: helvetica;
        }
    }

    
}