@import "../../../global.scss";

.navbar{
    display: flex;
    height: 75px;
    width: 100%;
    background: $darckBackground;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;

    .languages{
        margin-left: 30px;
        display: flex;

        .ru,
        .eng,
        .arm{
            color: $lightColor;
            font-size: 14px;
            border-radius: 50%;
            border: 1px solid $lightColor;
            margin: 5px;
            padding: 5px;
            cursor: pointer;
        }
    }

    .links-section{

        display: flex;

        a{
            color: $lightColor;
            font-size: 20px;
            text-decoration: none;
            margin: 26px;
            font-weight: 500;
            font-family: helvetica;
        }
    }

    
}