.navbar{
    display: flex;
    height: 75px;
    width: 100%;
    background: #1c0709;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 15px 1px #e1c1af;

    .logo-section{
        color: #e0e0e0;
        margin-left: 30px;
        font-size: 25px;
    }

    .links-section{

        display: flex;

        a{
            color: #e0e0e0;
            font-size: 20px;
            text-decoration: none;
            margin: 30px;
        }
    }

    
}