.homeContainer{
    display: flex;
    height: 100vh;
    background-image: url("../../../images/home/home1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position-y: -100px;

    .home-text{
        height: 200px;
        margin: 40px;

        span{
            color: #fff;
            font-size: 31px;
            line-height: 1.5;
            background: #0000005c;
            padding: 8px;
        }

    }

    .home-logo{
        height: 245px;
        width: 245px;
        margin: 140px 40px 35px;
        background: rgba(255, 255, 255, 0.199);

        img{
            height: 100%;
            color: #fff;
        }
    }

}