@import "../../../global.scss";

.homeContainer{
    display: flex;
    height: 100vh;
    background-image: url("../../../images/home/home1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position-y: -100px;

    .home-text{
        height: 200px;
        width: 535px;
        margin: 40px;
        background: #02020294;

        span{
            color: $lightColor;
            font-size: 30px;
            line-height: 1.5;
            margin: 5px;
        }
    }

    .home-logo{
        width: 470px;
        margin: 255px 70px 265px;

        img{
            width:  100%;
            color: $lightColor;
        }
    }
}


@media screen and (max-width: 1550px){

    .homeContainer{
    .home-logo{
        width: 384px;
        margin: 214px 70px 145px;
    }
}
}
