@import "../../../global.scss";

.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .picture-section{
        width: 50%;

        img{
            width:  100%;
        }
    }
    .adress-section{
        height: 550px;
        background: #6c6c6c;
        bottom:  0px;
        left: -250px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .contact-title{
            color: $lightColor;
            font-size: 35px;
            margin-bottom: 30px;
        }

        .contactData{
            margin-top: 30px;
            font-size: 20px;
            color: $lightColor;
            
            svg{
                font-size: 30px;
                margin-right: 20px;
            }
        }
        .contactViber{

            svg{
                color: rebeccapurple;
            }
        }
        .contactWhatsapp{

            svg{
                color: rgb(31, 243, 84);
            }
        }
        .contactPhone{
            svg{
                color: rgba(87, 69, 248, 0.685);
            }
        }

        .contactLocation{
            svg{
                color: rgb(247, 191, 88);
            }
        }
        .contactMail{
            svg{
                color: #bfbebb;
            }
        }
    }

    .contact-social-icons{
        display: flex;
        align-self: center;
        margin: 36px;

        .facebook-icon{
            color: blue;
        }

        .twitter-icon{
            color: rgb(52, 173, 253);
        }

        .youtube-icon{
            color: red;
        }

        .youtube-icon,
        .twitter-icon,
        .facebook-icon{
            font-size: 40px;
            margin: 20px;
            cursor: pointer;
        }

    }
}

@media only screen and (max-width: 800px){
    
    .contactContainer{
        .picture-section{
            width: 0%;
        }

        .adress-section {
            padding: 10px;
        }
        .adress-section .contactData {
            font-size: 16px;
        }

        .adress-section .contact-social-icons{
            .youtube-icon,
            .twitter-icon,
            .facebook-icon{
                font-size: 25px;
                margin: 10px;
        }
        }
    }
}

