@import "../../../global.scss";

.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .picture-section{
        position: relative;
        height: 710px;

        img{
            height: 100%;
        }


        .adress-section{
            position: absolute;
            height: 550px;
            width: 340px;
            background: #6c6c6c;
            bottom:  0px;
            left: -250px;
            padding: 35px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            .contact-title{
                color: $lightColor;
                font-size: 33px;
                margin-bottom: 30px;
            }

            .contactData{
                color: $lightColor;
                margin-top: 30px;
                font-size: 20px;
            }

        }
    }
}