$ligth-background: #d9e8c72b;
$min-height: calc(100vh - 145px);
$padding-top:100px;
$lightColor:#fff;
$darckBackground: #02020294;

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Open sans';
}

a {
    text-decoration: none;
}






